.Bootcamp1{
  width: 100%;
  border: lightgray;
  border-width: 10px;
  background-color: black;
  color: white;
  margin-top: 15px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.Bootcamp2{
  width: 100%;
  border: lightgray;
  border-width: 10px;
  background-color: black;
  color: white;
  margin-top: 15px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.Bootcamp3{
  width: 100%;
  border: lightgray;
  border-width: 10px;
  background-color: black;
  color: white;
  margin-top: 15px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.Bootcamp4{
  width: 100%;
  border: lightgray;
  border-width: 10px;
  background-color: black;
  color: white;
  margin-top: 15px;
  margin-bottom: 15px;
  box-sizing: border-box;
}